@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo_container img {
    margin-left: 50px;
    width: 150px;
}

.select_profile {
    font-family: 'Jost', sans-serif;
    font-weight: 300;
    font-size: 20px;
}

.information_container {
    margin: 20px;
}

.profile_text {
    text-transform: uppercase;
    color: hsla(0, 0%, 0%, 0.9);
}

.drag_area {
    border: 1px dotted #000;
    padding: 20px;
    font-weight: 500;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 25%;
}

.drag_area h3 {
    color: #7289DA;
}

.cloud_icon {
    font-size: 30px;
}