@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Jost', sans-serif;
}

.logo_container img {
    margin-left: 50px;
    width: 150px;
}

.select_profile {
    font-weight: 300;
    font-size: 20px;
    padding: 0 2rem;
    align-items: center;
    justify-content: center;
    /*border: solid 1px #000;*/
    padding: 20px;
    min-width: 25%;
}

.information_container {
    margin: 2rem;
    display: flex;
    justify-content: space-between;
}

.profile_text {
    font-weight: 500;
    font-size: 20px;
    width: 20rem;
}

.upload_btn::-webkit-file-upload-button {
    font-weight: 400;
    background: #5d75cb;
    font-size: 20px;
    border-radius: 50px;
    color: #fff;
    border: none;
    margin-right: 1rem;
    padding: 20px;
    cursor: pointer;
}

.upload_btn::-webkit-file-upload-button:hover {
    background: #3859ce;
}

.upload_btn {
    background-color: #fff;
    font-weight: 500;
    text-align: center;
    font-size: 20px;
    border-radius: 50px;
    color: #5d75cb;
    width: 100%;
    margin: 10px 0;
    outline: none;
    cursor: pointer;
    border: 3px solid #5d75cb;
}

.drag_area h4 {
    color: #5d75cb;
    cursor: pointer;
}

.name_area,
.message_area {
    font-weight: 500;
    font-size: 20px;
    /* border: solid 1px #000;*/
    padding: 20px;
    width: 20rem;
}

.info_box {
    width: 100%;
    height: 30px;
    font-size: 20px;
    font-weight: 200;
    border: none;
    outline: none;
    margin: 1rem auto;
    letter-spacing: 1px;
}

.message_box {
    border: none;
    outline: none;
    font-size: 20px;
    padding: 10px 0;
    resize: none;
}

/*Screenshot here*/
.image_portion {
    margin: 0 5rem;
    padding: 2rem;
    background-color: #333333;
    display: flex;
    align-items: center;
    color: #fff;
}

.profile_pic {
    height: 80px;
    width: 80px;
    border-radius: 100%;
}

.user_name {
    margin-right: 2rem;
    font-weight: 500;
    font-size: 25px;
}

.content {
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
}

.dateandtime {
    font-weight: 300;
    font-size: 20px;
}

.information {
    display: flex;
}

.message_content {
    margin-top: 1.2rem;
}

/*Download Button*/
.download {
    border: none;
    font-size: 25px;
    text-transform: uppercase;
    margin: 1rem 5rem;
    cursor: pointer;
    background-color: #5d75cb;
    color: #fff;
    padding: 10px 50px;
    border-radius: 50px;
}